body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#1F3864;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    background:white;
    padding:40px;
    border-radius:12px;
    width:350px;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.login-box h1{
    text-align:center;
    color:#1F3864;
    margin-bottom:10px;
}

.sub{
    text-align:center;
    color:gray;
    margin-bottom:20px;
}

.login-box input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:16px;
}

.login-box button{
    width:100%;
    padding:12px;
    background:#1F3864;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

.login-box button:hover{
    background:#2E75B6;
}

.links{
    margin-top:15px;
    display:flex;
    justify-content:space-between;
}

.links a{
    text-decoration:none;
    color:#1F3864;
    font-size:14px;
}